
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Hakkımızda</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-header">
            <h1 class="modal-title"> HAKKIMIZDA</h1>
        </div>
        <div class="modal-body">
            <p><b>Merhaba bu benim bu benim ilk MVC projem</b></p>
        </div>
    </div>
</div>



